.showjobs-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showjobs-select select{
margin: 20px;
}

.showjobs{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

