#img-input{
  display: none;
}

#upload-icon {
  cursor: pointer;
}

#upload-text{
    margin: 30px 0px 0px 0px;
    border: 1px solid black;
    color: white;
    background-color: #4577F1;
    border-radius: 1em;
    padding: 5px;
    cursor: pointer;
}

.upload-buttons button{
    margin:20px 10px 10px 10px ;
    border-radius: 1em;
    padding: 5px;
    cursor: pointer;
}