
.job-main-description{
    margin:50px 0px 200px 0px;
}

.job-go-back{
    text-align: center;
    margin: 20px;
}

.job-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.job-box-upper{
    display: flex;
    justify-content: space-around;
}

.job-box-upper p{
    margin: 20px 50px 10px 50px; 
}

.job-box-bottom{
    display: flex;
    justify-content: space-around;
}

.job-box-bottom p{
    margin: 0px 50px 0px 50px;
}

.job-box-description{
    width: 500px;
    margin: 50px 20px 50px 20px;
}