.nav-container{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding: 35px 0px 35px 0px;
}

#none{
    text-decoration: none;
    color: black;
}

.logo{
    font-size: larger;
    font-style: italic;
    border-style:groove;
    padding: 4px;
}

.create-post-button{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10%;
    margin-top: 12px;
}

#logout{
cursor: pointer;
}