.jobsByEmployee-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/* .jobsByEmployee-main-photo {
  margin: 0px 0px 50px 0px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobsByEmployee-main-photo img {
  height: 13vh;
  width: 70vw;
  object-fit: cover;
  z-index: -100;
} */

.jobsByEmployee-main-middle {
  width: 80%;
  display: flex;
}

.jobsByEmployee-main-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.jobsByEmployee-main-left {
}

.jobsByEmployee-select {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 600px !important;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border: 0.5px solid rgb(194, 184, 184);
}

.jobsByEmployee-select select {
  background-color: #f2f8ff;
  border: none;
  margin: 15px;
  font-weight: 700;
  height: 40px;
  width: 250px;
  color: grey;
  font-size: 17px;
}

.jobsByEmployee-select-choose-state-city {
  color: rgb(201, 69, 69);
}

.jobsByEmployee-select-button {
  margin: 20px;
  width: 250px;
  height: 35px;
  background-color: rgb(102, 145, 189);
  color: white;
  border-radius: 35px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.jobsByEmployee-select-button img{
  width: 20px;
  margin-right: 10px;
}

.jobsByEmployee-select-line {
  width: 200px;
  border: 0.5px solid rgb(140, 166, 180);
  margin: 20px;
}

.jobsByEmployee-link {
  color: rgb(104, 96, 96);
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  border: 0.5px solid grey;
  padding: 20px 30px 20px 30px;
}

.jobsByEmployee-main-box {
  border: 0.5px solid rgb(194, 184, 184);
  margin: 0px 10px 15px 10px;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  transition: transform 0.5s ease;
}

.jobsByEmployee-main-box:hover {

}

.jobsByEmployee-box-date {
  text-align: center;
  color: grey;
  margin-bottom: -20px;
}

.jobsByEmployee-box-category {
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
}

.jobsByEmployee-box-city {
  text-align: center;
  color: rgb(100, 41, 41);
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.jobsByEmployee-box-city img {
  width: 15px;
}

.jobsByEmployee-box-paragraph {
  width: 70%;
  height: 200px !important;
  /* border:  1px solid black; */
  color: grey;
}

.jobsByEmployee-box-learn {
  color: grey;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: 0.5px solid grey;
  border-radius: 25px;
  padding: 20px 50px 20px 50px;
}

.jobsByEmployee-box-learn:hover {
  color: black;
  border: 0.5px solid rgb(0, 0, 0);
}
