.cities-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cities-wrap-parent {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.cities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
}

.cities-container img {
  width: 300px;
  height: 200px;
}

.cities-container h4 {
  text-align: center;
}

.cities-box {
  padding: 2%;
  position: relative;
  text-align: center;
  transition: transform 0.5s ease;
}

.cities-box h4 {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 2.5px;
  font-weight: 900;
}

.cities-box:hover {
  zoom: 1;
  transform: scale(1.1);
}
