.cities-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cities-wrap-parent {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.cities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;

}

.cities-container img {
    width: 300px;
    height: 200px;
}

.cities-container h4 {
    text-align: center;
}

.cities-box {
    margin-bottom: 50px;
    padding: 2%;
    transition: transform .5s ease;
}

.cities-box:hover{
    zoom: 1;
    transform: scale(1.1);

}