.house-for-rent-back {
  text-align: center;
  margin: 20px;
}

.house-for-rent-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.house-for-rent-box {
  display: flex;
  box-shadow: 5px 5px 5px 5px gray;
}

.house-for-rent-box img {
  width: 500px;
  margin: 50px;
}

.house-for-rent-box-right{
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: white;
  width: 500px;
}

