.jobs-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobs-main-photo {
  background-image: url(https://www.teahub.io/photos/full/6-61455_my-material-4k-hd-desktop-wallpaper-for.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 150vh;
  height: 300px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .jobs-main-photo img{
  width: 100vh;
  object-fit: cover;
  z-index: -100;
} */

.jobs-to-choose {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

#job-chosen {
  border-radius: 1em;
  background-color: rgb(195, 210, 238);
  cursor: pointer;
}

.jobs-to-choose h3 {
  padding: 2%;
}

.jobs-select {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 100px 0px 50px 0px;
}

.jobs-main-box {
  border: 1px solid black;
  margin-bottom: 20px;
  width: 800px;
  height: 220px;
}

.jobs-box-upper {
  display: flex;
  justify-content: space-around;
  width: 800px;
}

#jobs-box-upper-left {
  margin: 0px 0px 15px 45px;
}

.jobs-box-bottom {
  display: flex;
  justify-content: space-around;
  width: 800px;
  border-top: 1px solid black;
}

#jobs-box-description {
  margin: 0px 0px 15px 45px;
  font-weight: 600;
}
