.events-main-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.events-container{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.events-box{
    border: 1px solid black;
    padding: 30px;
}