.testimonials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: #f8f9fa;
}

.testimonials-left {
  width: 50%;
}

.testimonials-right {
  width: 50%;
}

.testimonials-right p {
  font-weight: 400;
  color: #8b8e93;
  font-size: 20px;
  line-height: 1.6;
}

.testimonials-right h1 {
  color: #606060;
  font-size: 40px;
  line-height: 24px;
  letter-spacing: 2.5px;
  font-weight: 500;
  text-decoration: none solid rgb(96, 96, 96);
}
