.reset-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* .reset-password-video {
  width: 100%;
  outline: none;
} */

.reset-password-box {
  border: 0.5px solid black;
  padding: 20px;
  width: 300px;
  border-radius: 5em 5em 5em 5em;
  text-align: center;
  display: flex;
}

#error {
  color: brown;
}

.reset-password-box form img {
  width: 100px;
}

.input-reset-password-token {
  margin: 10px;
  background: url("https://img.icons8.com/ultraviolet/40/000000/email.png")
    no-repeat scroll 5px;
  text-align: center;
  background-size: 17px;
  height: 25px;
  border-radius: 5em 5em 5em 5em;
  outline: none;
  width: 250px;
  height: 30px;
  font-weight: 800;
}

.input-reset-password-email {
  margin: 10px;
  background: url("https://img.icons8.com/ultraviolet/40/000000/email.png")
    no-repeat scroll 5px;
  text-align: center;
  background-size: 17px;
  height: 25px;
  border-radius: 5em 5em 5em 5em;
  outline: none;
  width: 250px;
  height: 30px;
  font-weight: 800;
}

.input-reset-password-password {
  margin: 10px;
  background: url("https://img.icons8.com/ultraviolet/40/000000/email.png")
    no-repeat scroll 5px;
  text-align: center;
  background-size: 17px;
  height: 25px;
  border-radius: 5em 5em 5em 5em;
  outline: none;
  width: 250px;
  height: 30px;
  font-weight: 800;
}

#reset-password-form-button {
  background-color: #1b98e0;
  border-radius: 5em 5em 5em 5em;
  line-height: 2em;
  outline: none;
  width: 180px;
  margin-top: 30px;
  height: 40px;
  color: white;
}
