.tracker-main-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: rgba(231, 222, 222, 0.459);
}

.tracker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.tracker-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  height: 80px;
}

.tracker-box h2 {
  margin-bottom: -10px;
  border-bottom: 1px solid black;
  color: chocolate;
}
